@font-face {
  font-family: "Open Sans Condensed";
  src: url('../fonts/OpenSans_Condensed-Bold.ttf');
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

/* header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlink-list {
  display: flex;
  list-style-type: none;
  font-family: "Open Sans" serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navlink-item a {
  color: #222;
  text-decoration: none;
}

.main-link {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 24px;
  background-color: #DE2E54;
  border-radius: 8px;
  text-decoration: none;
}

/* HERO STYLES */

.hero {
  background: #0EB4C1;
  color: #fff;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper-hero-content {
  width: 500px;
}

.hero-title {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}


/* SERVICE */
.services-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-about {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.services-item {
  display: flex;
}

.types-services {
  width: 600px;
}

.services-titles {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;;
}

.main-btn {
  border: 2px solid #DE2E54;
  background-color: #fff;
  color: #DE2E54;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

/* REGISTRATION SECTION */
.registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0EB4C1;
}

.registration-title {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  background-color: #fff;
  display: inline-block;
  background-color: transparent;
}

.contact-link {
  border: 2px solid #fff;
  color: #fff;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

/* FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
}

.footer-logo-img {
  color: #fff;
  margin-right: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  text-decoration: none;
  line-height: 33px;
}

.footer-logo span {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 24px;
}

.footer-list {
  display: flex;
  list-style-type: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
}